@charset "ISO-8859-1";

body{
	background-image: linear-gradient(to right, #F26CB9 , #F59C14);
	
}
.b1{
	background-image: linear-gradient(to right, #CB23ED , #F36999);
}
.field{
	
	border-color:#F14D21;
	border-width:10px 10px 10px 10px;
	border-radius:10px;
	border-style:solid;
	margin-top:150px;
	margin-left:300px;
	margin-right:300px;
	padding-top:50px;
	padding-bottom:50px;
	padding-left:50px;
	padding-right:50px;
}
